<p>Pins Index Page</p>

<!-- for now, assume first user is current user -->

<form name="newPin">

  <label>Title:
    <input type="string" ng-model="newPin.item_name">
  </label>

  <label>Buy/Sell?
    <select ng-model="newPin.buy_string">
      <option value="true">Buying</option>
      <option value="false">Selling</option>
    </select>
  </label>

  <label>Description
    <textarea ng-model="newPin.description"
      placeholder="Enter description of item">
    </textarea>
  </label>

  <button ng-click="createPin()">Add Pin </button>
</form>

<div ng-repeat='pin in pins'>
  <p>{{pin}}</p>
</div>