<%= content_for(:angular_app) do %>
  ng-app="PinBoard"
<% end %>

<html>
  <head>
  </head>

  <body>
    <div class="container-fluid">
      <div ui-view='index'></div>
    </div>
  </body>
</html>
