<h3>Signed in as: <strong><%= current_user.username %></strong></h3> 
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
<%= content_for(:angular_app) do  %>
  ng-app = "app"
<% end %>
<div ui-view="content"></div>

