<div class="row" ng-controller="TestCtrl">
	
	<section class="col-sm-12">
		<p>Hello Static</p>
		<p>Adele says, {{ hello }}</p>
		<ul ng-repeat="pin in pins">
			<li>{{ pin.item_name }}</li>
		</ul>
	</section>


</div>