<div class='row'>
  <div class='col-xs-12'>

    <h1>The Pinboard</h1>
    <p>
      <em>Signed in as USERNAME</em> - <a href='#'>logout</a>
    </p>

  </div>
</div>


<!-- new pin form here -->


<div class='row'>
  <div class='col-xs-12'>

    <h2>All Pins</h2>

    <!-- this could be a directive -->
    <div class='pin-wrapper' ng-repeat='pin in pins'>
      <h4>
        {{ pin.item_name }}
      </h4>
      <p>FOR SALE / WANT TO BUY</p>

      <div class='links-row'> <!-- ng-if current_user -->
        <a href='#'>Edit Pin</a>
        <a href='#'>Delete Pin</a>
      </div>

      <p>
        {{ pin.description }}
      </p>

      <p>
        <!-- this should use filters for the  "Post {date} at {time}" format -->
        <em>Posted {{ pin.created_at }} by {{ pin.user.username }}</em>
      </p>

    </div>

  </div>
</div>