<div class='row'>
  <div class='col-xs-12'>

    <h1>The Pinboard</h1>
    <p>
      <em>Signed in as {{ currentUser.username }}</em> - <a href='#'>logout</a>
    </p>

  </div>
</div>


<div class='row'>
  <div class='col-xs-12'>
    <h2>New Pin</h2>

    <form name='newPinForm' ng-submit='processForm(newPinForm.$valid)'>

      <div class='form-group'>
        <label for='title'>Title:</label>
        <input type='text' name='title' class='form-control' ng-model='newPin.item_name'>
      </div>

      <div class='form-group'>
        <label for='title'>Buy/Sell?</label>
        <select name='title' class='form-control' ng-model='newPin.buy_sell' ng-options="obj.value as obj.name for obj in [{ name: 'WANT TO BUY', value: true }, { name: 'FOR SALE', value: false }]">
        </select>
      </div>

      <div class='form-group'>
        <label for='title'>Title:</label>
        <textarea name='title' class='form-control' ng-model='newPin.description'></textarea>
      </div>

      <input type='submit' value='Create Pin'>

    </form>

  </div>
</div>




<div class='row'>
  <div class='col-xs-12'>

    <h2>All Pins</h2>


    <div class='pin-wrapper' ng-repeat="pin in pins | orderBy: '-created_at' ">

      <pin pin='pin' delete='delete(pin)'></pin>

    </div>

  </div>
</div>