<div ui-view="pinForm" ></div><br>
<div class="col-md-12">
<hr>
<h3>All Pins</h3>
<hr>
<div ng-repeat="pin in pins | orderBy: '-created_at' ">
  <hr>
  <a ui-sref="home.show({ id: pin.id })"><h4>{{ pin.item_name }}</h4></a>
  <h5>{{ pin.buy_sell ? "FOR SALE" : "WANT TO BUY"}}</h5>
  <div ng-if="pin.buy_sell"><button class="btn btn-default btn-sm" ui-sref="home.edit({ id: pin.id })">Edit Pin </button> <button class="btn btn-danger btn-sm" ng-click="delete(pin)"> Delete Pin</button></div>
  <p>{{ pin.description }}</p>
  <p class="pull-right">Posted on {{ pin.created_at | date }} by {{ pin.user.username }}</p><br>
</div>
</div>
