<h2>Pin {{ pin.id }} : {{ pin.item_name }}</h2>
<a ui-sref="pins.index">view all pins</a>
<hr>

<h4>{{ pin.item_name }}</h4>
<h4 ng-if="pin.buy_sell" class="text-danger">WANT TO BUY</h4>
<h4 ng-if="!pin.buy_sell" class="text-success">FOR SALE</h4>
<a class="col-sm-1" ui-sref="pins.edit({id: pin.id})">edit pin</a> <a href="#" class="col-sm-1" ng-click="removePin(pin)">delete pin</a><br>
<p> {{ pin.description }} </p>
<em class="text-muted pull-right">Posted on {{ pin.created_at | date:'MMM d, y h:mm:ss a' }} by {{ pin.user.username }}</em><br>
<hr>
