<form name="editPin" novalidate>
  <label>Item Name:</label><br/>
  <input type="text" ng-model="showPin.item_name" required ng-minlength="0" ng-maxlength="140" value=""><br/><br/>


  <label>BUY or SELL:</label>
  <select class="" ng-model="showPin.buy_sell" required>
    <option value="true">BUY</option>
    <option value="false">SELL</option>
  </select><br/><br/>


  <label>Item Description:</label><br/>
  <textarea rows="8" cols="40" ng-model="showPin.description" required ng-minlength="0" ng-maxlength="400"></textarea><br/>

  <input type="submit" value="Submit" ng-click="updatePin(editPin.$valid)">

  <div ng-if="editPin.$invalid && editPin.$dirty">Invalid! Please enter values for Item Name, BUY/SELL, and Item Description.</div><br/><br/>

</form>
