<form name="pinForm" ng-submit="processPin({ valid: pinForm.$valid })">

  <div class="form-group">
    <label>Title
      <input type="text" name="item_name" ng-model="formData.item_name" class="form-control" required>
    </label>
  </div>

  <div class="form-group">
      <label>Buy
        <input type="radio" name="type" ng-model="formData.buy_sell" class="form-control" ng-value="true" required>
      </label>
      <label>Sell
        <input type="radio" name="type" ng-model="formData.buy_sell" class="form-control" ng-value="false" required>
      </label>
  </div>

  <div class="form-group">
    <label>Description
      <textarea name="description" ng-model="formData.description" class="form-control"></textarea>
    </label>
  </div>

  <div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" ng-disabled="pinForm.$invalid">
  </div>

</form>
