<section class="col-sm-12">

	<div class="col-sm-4">
		
		<h2>Create New Pin</h2>

		<form name="newPin" ng-submit="submitPin()">

			<div class="form-group">
				<!-- Name -->
				<label for="itemName">Item Name</label>
				<input type="text" class="form-control" ng-model="newPin.itemName">
			</div>

			<div class="form-group">
				<!-- Buy/Sell -->
				<label for="buySell">Buy/Sell</label>
				<select class="form-control" ng-model="newPin.buySell">
					<option value="" disabled>Buy/Sell</option>
					<option value="buy">Buy</option>
					<option value="sell">Sell</option>
				</select>
			</div>

			<div class="form-group">
				<!-- Description -->
				<label for="description">Description</label>
				<textarea class="form-control" ng-model="newPin.description"></textarea>
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Create Pin">
			</div>

		</form>

	</div>

</section>